<div class="send-us fade" ng-if="vm.activePopupElem.get() === 'sendUs'">
    <div class="send-us__title">Send us your works</div>
    <form class="send-us__form feedback-form" ng-submit="vm.submit()">
        <div class="send-us__form__line">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" ng-model="vm.name" required placeholder="ex: Adam Smith" />
        </div>
        <div class="send-us__form__line">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" ng-model="vm.email" required placeholder="ex: adam@gmail.com" />
        </div>
        <div class="send-us__form__line">
            <label for="link">Social link:</label>
            <input type="text" name="link" id="link" ng-model="vm.link" required
                   placeholder="ex: https://instagram.com/m0nochrome_days/" />
        </div>
        <div class="send-us__form__line">
            <label for="files">Choose files:</label>
            <input-file name="files" id="files" ng-model="vm.files" multiple required />
        </div>
        <input value="Send" type="submit" />
    </form>
    <div class="popup__go-back">
        <a ng-click="vm.activePopupElem.set('menu')">Go back</a>
    </div>
</div>