<div class="menu fade" ng-if="vm.activePopupElem.get() === 'menu'">
    <div class="popup__logo">
        <img src="/img/logo.png">
    </div>
    <div class="popup__title">
        Monochrome days
    </div>
    <div class="popup__items-wrapper">
        <div class="popup__item">
            Photo project for bwlovers. Our website
            <br />
            displays the percentage of days passed this year
            <br />
            accompanied with best author's photos.
        </div>
        <div class="popup__item">
            <a ng-if="vm.$location.path() !== '/about'" ng-href="#!/about">More about us</a>
            <a ng-if="vm.$location.path() === '/about'" ng-href="#/">Go to main</a>
        </div>
        <div class="popup__item">
            Send us your works to <a href="mailto:m-days@m-days.ru">m-days@m-days.ru</a>
            <br />
            (please tell your name and link
            <br />
            if you want to be in the list of authors).
            <br />
            And post them in socials with
            <a href="https://instagram.com/explore/tags/mdays/" target="_blank">#mdays</a>
        </div>
        <div class="popup__item">
            follow us at
        </div>
        <div class="popup__item">
            <div class="menu__soc-btns-wrapper">
                <div class="menu__soc-btn insta">
                    <a href="https://instagram.com/m0nochrome_days/" target="_blank">
                        <img src="/img/insta.png" />
                    </a>
                </div>
                <div class="menu__soc-btn vk">
                    <a href="https://vk.com/mono_days" target="_blank">
                        <img src="/img/vk.png" />
                    </a>
                </div>
                <div class="menu__soc-btn twit">
                    <a href="https://twitter.com/MonochromeDays" target="_blank">
                        <img src="/img/twitter.png" />
                    </a>
                </div>
            </div>
        </div>
        <div class="popup__item">
            <a ng-click="vm.activePopupElem.set('donate')">Donate</a>
        </div>
    </div>
</div>