.about {
  position: absolute;
  top: 50px;
  left: 300px;

  &__title {
    text-decoration: underline;
    font-size: 32px;
    color: #fff;
    margin-bottom: 15px;
  }

  &__members-wrapper {
    display: flex;
    align-items: top;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__member {
    width: 210px;
    margin-right: 50px;
    margin-bottom: 15px;

    &__img {
      width: 210px;
      height: 302px;
    }

    &__name {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 100%;
      margin-top: 15px;
    }
  }
}