<div class="about">
    <div class="about__title">Организаторы проекта</div>
    <div class="about__members-wrapper">
        <!-- Олег Шилов -->
        <div class="about__member">
            <a href="https://vk.com/id15927588" target=_blank>
                <img class="about__member__img" src="/img/about/shilov.jpg" />
            </a>
            <div class="about__member__name">
                <a href="https://vk.com/id15927588" target=_blank>
                    Олег
                    <br />
                    Шилов
                </a>
            </div>
        </div>
        <!-- Гордей Переходов -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/likilo" target=_blank><img src="/img/about/perekhodov.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/likilo" target=_blank>Гордей<br>Переходов</a></div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both;">
        <div style="text-decoration: underline; font-size:200%; color:#FFF; margin-bottom:15px;">Участники проекта</div>
        <!-- Александр Калугин -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/id16835086" target=_blank><img src="/img/about/aleksandr_kalugin.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/id16835086" target=_blank>Александр<br>Калугин</a></div>
                </div>
            </div>
        </div>
        <!-- Антон Ковалевский -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/id29768826" target=_blank><img src="/img/about/anton_kovalevsky.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/id29768826" target=_blank>Антон<br>Ковалевский</a></div>
                </div>
            </div>
        </div>
        <!-- Виктория Зырянова -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/id14828973" target=_blank><img src="/img/about/victory_zyryanova.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/id14828973" target=_blank>Виктория<br>Зырянова</a></div>
                </div>
            </div>
        </div>
        <!-- Антон Ковалевский -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/vospalenniy_mozg_djeka" target=_blank><img src="/img/about/kirill_nepomnyachsiy.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/vospalenniy_mozg_djeka" target=_blank>Кирилл<br>Непомнящий</a></div>
                </div>
            </div>
        </div>
        <!-- Наталья Бурнашкина -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/id744565" target=_blank><img src="/img/about/natalya_burnashkina.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/id744565" target=_blank>Наталья<br>Бурнашкина</a></div>
                </div>
            </div>
        </div>
        <!-- Слава Сорокин -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/tafarayphoto" target=_blank><img src="/img/about/slava_sorokin.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/tafarayphoto" target=_blank>Слава<br>Сорокин</a></div>
                </div>
            </div>
        </div>
        <!-- Тональ Нагвальевна -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/id4462838" target=_blank><img src="/img/about/tonal_nagvalievna.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/id4462838" target=_blank>Тональ<br>Нагвальевна</a></div>
                </div>
            </div>
        </div>
        <!-- Дмитрий Кольдяев -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/id8767" target=_blank><img src="/img/about/dmitriy_koldyaev.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/id8767" target=_blank>Дмитрий<br>Кольдяев</a></div>
                </div>
            </div>
        </div>
        <!-- Роман Берёзин -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/landschaften" target=_blank><img src="/img/about/roman_berezin.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/landschaften" target=_blank>Роман<br>Берёзин</a></div>
                </div>
            </div>
        </div>
        <!-- Виктория Чешко -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/id131625031" target=_blank><img src="/img/about/viktoria_cheshko.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/id131625031" target=_blank>Виктория<br>Чешко</a></div>
                </div>
            </div>
        </div>
        <!-- София Головина -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/id71689521" target=_blank><img src="/img/about/sofia_golovina.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/id71689521" target=_blank>Софья<br>Головина</a></div>
                </div>
            </div>
        </div>
        <!-- Георгий Тверецкий -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/id3584626" target=_blank><img src="/img/about/georgiy_tveretskiy.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/id3584626" target=_blank>Георгий<br>Тверецкий</a></div>
                </div>
            </div>
        </div>
        <!-- Анна Салтыкова -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/id188141450" target=_blank><img src="/img/about/anna_saltykova.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/id188141450" target=_blank>Анна<br>Салтыкова</a></div>
                </div>
            </div>
        </div>
        <!-- Анна Раевская -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/id9425559" target=_blank><img src="/img/about/anna_raevskaya.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/id9425559" target=_blank>Анна<br>Раевская</a></div>
                </div>
            </div>
        </div>
        <!-- Ksenia Mirklis -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/mirklis" target=_blank><img src="/img/about/ksenia_mirklis.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/mirklis" target=_blank>Ksenia<br>Mirklis</a></div>
                </div>
            </div>
        </div>
        <!-- Анна Корнеенкова -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="http://vk.com/anna_noir" target=_blank><img src="/img/about/anna_korneenkova.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="http://vk.com/anna_noir" target=_blank>Анна<br>Корнеенкова</a></div>
                </div>
            </div>
        </div>
        <!-- Юлия Елизарова -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="http://vk.com/elizarova_fot" target=_blank><img src="/img/about/juliya_elizarova.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="http://vk.com/elizarova_fot" target=_blank>Юлия<br>Елизарова</a></div>
                </div>
            </div>
        </div>
        <!-- Анастасия Дунаева -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/id56092039" target=_blank><img src="/img/about/anastasia_dunaeva.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/id56092039" target=_blank>Анастасия<br>Дунаева</a></div>
                </div>
            </div>
        </div>
        <!-- Надежда Духанова -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/id8546188" target=_blank><img src="/img/about/nadezhda_duhanova.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/id8546188" target=_blank>Надежда<br>Духанова</a></div>
                </div>
            </div>
        </div>
        <!-- Annie Autumn -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/autumn_space" target=_blank><img src="/img/about/annie_autumn.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/autumn_space" target=_blank>Annie<br>Autumn</a></div>
                </div>
            </div>
        </div>
        <!-- Катерина Салдаева -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/awayfromlights" target=_blank><img src="/img/about/katerina_saldaeva.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/awayfromlights" target=_blank>Катерина<br>Салдаева</a></div>
                </div>
            </div>
        </div>
        <!-- Катерина Салдаева -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/id10012750" target=_blank><img src="/img/about/viktoria_maiones.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/id10012750" target=_blank>Виктория<br>Майонез</a></div>
                </div>
            </div>
        </div>
        <!-- Vladimir Deyev -->
        <div style="width:210px; float:left; margin-right:50px; margin-bottom:15px;">
            <a href="https://vk.com/volodyalovesyou" target=_blank><img src="/img/about/vladimir_deyev.jpg" style="height:302px; width:210px;"></a>
            <div style="line-height:30px; height:30px; margin-top:15px; width:210px;">
                <div style="line-height:20px; height:20px; text-align:left; display: table; margin: 0 auto;">
                    <div style="margin-top:-5px;"><a href="https://vk.com/volodyalovesyou" target=_blank>Vladimir<br>Deyev</a></div>
                </div>
            </div>
        </div>
    </div>
</div>