.filter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.sort {
  display: inline-block;
  margin: 10px;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
    text-decoration: underline;
  }

  &:not([data-reverse = ""]) {
    &:after {
      content: '^';
      display: none;
      margin-left: 10px;
    }
  }

  &[data-reverse="true"] {
    &:after {
      transform: rotateX(180deg);
    }
  }

  &.is-active {
    &:after {
      display: inline-block;
    }
  }
}

.products-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-left: 10px;
  border: 1px #999 solid;

  .product {
    width: 100%;
    margin-top: 5px;
    padding: 0 10px;
    border-top: 1px #999 solid;

    &:nth-child(1) {
      border-top: 0;
      margin-top: 0;
    }
  }
}