html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr, hr {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: Helv-4-Light;
  -webkit-text-size-adjust: none;
}

#menu div, #donate div, #sendUsForm div {
  font-family: ProximaNovaAltThin;
}

a {
  text-decoration: underline;
  color: #FFF;
  font-family: ProximaNovaRegular;
}

a:link,
a:visited,
a:active {
  color: #FFF;
}

a:hover {
  color: #666;
  cursor: pointer;
}

#header, #footer {
  display: none;
  position: fixed;
  height: 10px;
  /*display:block;*/
  width: 100%;
  background: #000;
  z-index: 9;
  text-align: center;
  color: #f2f2f2;
  padding: 20px 0 0 0;
}

#header {
  top: 0px;
}

#footer {
  bottom: 0px;
}

.SlideLeft {
  width: 300px;
  height: 200px;
  background: rgba(0, 0, 0, 0.4);
  margin-left: -300px;
  margin-top: -600px;
  position: relative;
  z-index: 3;
  cursor: pointer;
  color: #555;
}

#CloseSlide:hover {
  color: white;
  font-size: 18px;
}

.SlideLeft:hover {
  background: rgba(0, 0, 0, 0.3);
}

#feedback-form { /* вся форма */
  max-width: 550px;
  padding: 2%;
  border-radius: 3px;
  background: #666;
}

#feedback-form label { /* наименование полей */
  float: left;
  display: block;
  clear: right;
}

#feedback-form .w100 { /* поля */
  float: right;
  max-width: 400px;
  width: 97%;
  margin-bottom: 1em;
  padding: 1.5%;
}

#feedback-form .border { /* граница полей */
  border-radius: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #C0C0C0 #D9D9D9 #D9D9D9;
  box-shadow: 0 1px 1px rgba(255, 255, 255, .5), 0 1px 1px rgba(0, 0, 0, .1) inset;
}

#feedback-form .border:focus {
  outline: none;
  border-color: #abd9f1 #bfe3f7 #bfe3f7;
}

#feedback-form .border:hover {
  border-color: #7eb4ea #97cdea #97cdea;
}

#feedback-form .border:focus::-moz-placeholder { /* убрать при фокусе первоначальный текст поля */
  color: transparent;
}

#feedback-form .border:focus::-webkit-input-placeholder {
  color: transparent;
}

#feedback-form .border:not(:focus):not(:hover):valid { /* правильно заполненные поля */
  opacity: .8;
}

#submitFF { /* кнопка "Отправить" */
  padding: 2%;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .2) inset;
  background: #000;
  color: #fff;
}

#feedback-form br {
  height: 0;
  clear: both;
}

#submitFF:hover {
  cursor: pointer;
}

#submitFF:focus {
  box-shadow: 0 1px 1px #fff, inset 0 1px 2px rgba(0, 0, 0, .8), inset 0 -1px 0 rgba(0, 0, 0, .05);
}

/* кнопка гамбургер */

.cmn-toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 32px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  background: none;
}

.cmn-toggle-switch:focus {
  outline: none;
}

.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 15px;
  left: 6px;
  right: 6px;
  height: 1px;
  background: white;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  content: "";
}

.cmn-toggle-switch span::before {
  top: -10px;
}

.cmn-toggle-switch span::after {
  bottom: -10px;
}

.cmn-toggle-switch__htx {
  background-color: #ff3264;
}

.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}

.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}

/* активное состояние, т.е. меню открыто */
.cmn-toggle-switch__htx.active {
  background-color: #cb0032;
}

.cmn-toggle-switch__htx.active span {
  background: none;
}

.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}

body {
  background: rgba(0, 0, 0, 1);
}

#nextBg {
  position: absolute;
  left: -200px;
  height: 100px;
  width: 100px;
}

#MonochromeDaysTitle {
  margin: 0 auto;
  text-align: center;
  /*font-size:250%;*/
  color: white;
  font-size: 38px;
  font-family: 'Avenir LT Std 35 Light Oblique';
}

#wrapper1 {
  /*background-color: #000;*/
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

#menuOpenClose {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;
  cursor: pointer;
}

#menuWrapper {
  opacity: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;;
  margin: auto;
}

#menu {
  /*top:0; задаётся в js */
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99999;
  width: 960px;
  overflow: auto;
  padding-bottom: 25px;
  padding-top: 100px;
  color: #FFF;
  font-family: ProximaNovaAltCondensedThin;
  font-weight: lighter;
}

#menuLogo {
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

#menuMonochromeDaysTitle {
  text-align: center;
  margin: 0 auto;
  font-size: 48px;
  margin-bottom: 30px;
}

.menuDiv {
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  margin-top: 30px;
}

.socButtonWrapper {
  display: inline-block;
  margin: 0 auto;
}

.socButton {
  float: left;
  margin-right: 25px;
  width: 32px;
  height: 42px;
  overflow: hidden;
}

.socButtonHr {
  margin-left: -32px;
  background: #FFF;
  height: 6px;
  width: 32px
}

#sendUsForm {
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 99999;
  width: 960px;
  background: rgba(0, 0, 0, 0.95);
  padding: 25px;
  color: #FFF;
  overflow: hidden;
  font-family: ProximaNovaAltCondensedThin;
  font-weight: lighter;
}

#sendUsFormTitle {
  font-size: 64px;
  margin: 0 auto;
  text-align: center;
}

#sendUsInputsWrapper {
  width: 500px;
  margin: 0 auto;
}

#donateTitle {
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
}

#donate {
  /*top:0; задаётся в js */
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99999;
  width: 960px;
  overflow: auto;
  padding-bottom: 25px;
  padding-top: 100px;
  color: #FFF;
  font-family: ProximaNovaAltCondensedThin;
  font-weight: lighter;
}

#menuWrapper, #menu, #sendUsForm, #donate {
  display: none;
}

.goBack {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

.payButtonWrapper {
  display: inline-block;
  margin: 0 auto;
}

.payButton {
  text-align: center;
  float: left;
  margin-right: 25px;
  width: 180px;
  height: 53px;
  overflow: hidden;
  background-color: #FFF;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

#webmoney:hover {
  cursor: pointer;
}

.wmbtn:hover {
  cursor: pointer;
}

#qiwi {
  display: none;
}

#qiwiClose {
  width: auto;

}

.payInstruction {
  margin-right: 25px;
  color: #FFF;
  font-family: ProximaNovaAltThin;
  font-weight: lighter;
  border: 1px white solid;
  border-radius: 15px;
  padding: 5px;
  float: left;
  font-size: 24px;
  display: none;
}

/*adaptive*/

@media screen and (max-width: 1024px) {
  #wrapper {
    width: 960px;
  }
}